:root {
  --primary-accent: #213c70;
  --navbar-border-top: #213c70;
  --button-border: #00689b;
  --link-focus: #00689b;
  --form-shadow: #0093ab;
  --pagination-bg: #576ba4;
  --link-hover-bg: #36669c;
  --navbar-focus: #e8efff;
}

#heading-breadcrumbs {
  background: url('/img/bg-pattern.png') center center repeat;
  padding: 20px 0;
  margin-bottom: 40px;
}

figure.floatright {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: right;
}

figure.floatleft {
	max-width: 30%;
	width: auto\9*0.3; /* ie8 */
	height: auto;
	float: left;
}

img[alt="ciclo_imagen"] { width: 250px; }

.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 190px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}
